// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.btn-submit {
  background: #1E89C1;
  border-radius: 0px 4px 4px 0px;
  color: white;
  font-weight: bold;
  margin: 0px;
  padding: 5px;
}

.search-field {
  border-radius: 4px 0px 0px 4px;
   margin: 0px;
   padding: 5px;
}
